/* Import Google font - Poppins */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}*/
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #f0f0f0;
}
h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/*.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}*/
.container .form {
  margin-top: 30px;
}
.abc{
  margin-right: 50px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
/*.input-box label {
  color: greenyellow;
  margin-right: 30px;
}*/
.form :where(.input-box input) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
/*.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}*/
/*.form .column {
  display: flex;
  column-gap: 15px;
}*/
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: #007BFF;
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input) {
  margin-top: 15px;
}
/*.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}*/
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #007BFF;
}
.form button:hover {
  background: limegreen;
}
/*Responsive*/
/*@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}*/