.heading{
    text-align: center;
    margin-top: 10px;
}

.box-content{
    margin: 20px;
    border: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: black;
    width: 250px;
    height: 120px;
    text-align: center;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 250px;

}

.nav li{
    margin-top : 10px; 
    margin-left: 30px;
    float: left ;
    display: inline-block;
    text-decoration: none;
}

.navhead{
    display: flex;
    flex-direction: column;
}
