<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Care4You Hospital</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/HMS_Lib/animate/animate.min.css" rel="stylesheet">
    <link href="/HMS_Lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/HMS_Lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/HMS_CSS/bootstrap.min.css" rel="stylesheet">

    <!-- Admin Employee Details Stylesheet -->
    <link href="/HMS_CSS/admin_emp_details_style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-light fixed-top p-0" data-wow-delay="0.1s">
        <a href="/HMS_HTML/Home/hms_index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-white"><i class="far fa-hospital me-3"></i>Care4You</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/HMS_HTML/Home/hms_index.html" class="nav-item nav-link">Home</a>
                <a href="/HMS_HTML/Home/about.html" class="nav-item nav-link">About Us</a>
                <a href="/HMS_HTML/Home/service.html" class="nav-item nav-link">Services</a>
                <a href="/HMS_HTML/Home/contact.html" class="nav-item nav-link">Contact Us</a>
                <a href="/HMS_HTML/Admin/admin_emp_details.html" class="nav-item nav-link">Profile</a>
                <a href="/logout" class="nav-item nav-link">Log Out</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Side-bar Start -->
    <div class="container-fluid side-bar">
        <div class="side-bar-top ">
            <div class="side-bar-heading">
                <p><b>Admin</b></p>
            </div>
            <div class="side-bar-icon d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4">
                <i class="fa fa-user fa-3x"></i>
            </div>
<<<<<<< HEAD
            <p class="side-bar-top-info"><b>Name :</b>{{user.Name}}</p>
            <p class="side-bar-top-info"><b>Id :</b> {{user.ID}}</p>
=======
            <p class="side-bar-top-info"><b>Name :</b> FName LName</p>
            <p class="side-bar-top-info"><b>Id :</b> E101</p>
>>>>>>> 26559a845747222170b74c3f68bf84294f057fb9
        </div>
        <div class="side-bar-bottom">
            <ul>
             <li><a href="/admin_home">Dashboard</a></li>
                <li><a href="/admin_add_emp">Add Employee</a></li>
                <li><a href="/admin_search_emp">Search Employee</a></li>
                <li><a href="/admin_all_emp">All Employees</a></li>
                <li><a href="/admin_all_leaves">All Leaves</a></li>
            </ul>
        </div>
    </div>
    <!-- Side-bar End -->

    <!-- Employee Details Dashboard Start -->
    <div class="container-fluid emp-details-dash">
        <div class="emp-details-heading d-flex justify-content-center wow fadeInUp">
            <h1>Employee Details</h1>
        </div>
        <div class="emp-details-info">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td class="tab-data fw-bold">Name</td>
                        <td class="tab-data">FName MName LName</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">ID</td>
                        <td class="tab-data">E101</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Birthdate</td>
                        <td class="tab-data">dd-mm-yy</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Gender</td>
                        <td class="tab-data">Male</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Email Address</td>
                        <td class="tab-data">emp@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Mobile No.</td>
                        <td class="tab-data">0123456789</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Aadhar No.</td>
                        <td class="tab-data">1234 4567 7890</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Country</td>
                        <td class="tab-data">India</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">State</td>
                        <td class="tab-data">Gujarat</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">City</td>
                        <td class="tab-data">Gandhinagar</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Address</td>
                        <td class="tab-data">Address</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Role</td>
                        <td class="tab-data">Admin</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Qualification</td>
                        <td class="tab-data">Qualification</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Specialization</td>
                        <td class="tab-data">Specialization</td>
                    </tr>
                    <tr>
                        <td class="tab-data fw-bold">Joining Date</td>
                        <td class="tab-data">dd-mm-yy</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="mb-3 emp-details-btn d-inline-flex">
                <button type="submit" class="btn btn-primary m-lg-2">Edit</button>
                <button type="button" class="btn btn-danger m-lg-2">Delete</button>
            </div>
        </div>
    </div>
    <!-- Employee Details Dashboard End -->

    <!-- Back to Top -->
    <a href="/HMS_HTML/Home/hms_index.html" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/HMS_Lib/wow/wow.min.js"></script>
    <script src="/HMS_Lib/easing/easing.min.js"></script>
    <script src="/HMS_Lib/waypoints/waypoints.min.js"></script>
    <script src="/HMS_Lib/counterup/counterup.min.js"></script>
    <script src="/HMS_Lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/HMS_Lib/tempusdominus/js/moment.min.js"></script>
    <script src="/HMS_Lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/HMS_Lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- HMS Javascript -->
    <script src="/HMS_JS/main.js"></script>
</body>