<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hospital Management System Login</title>
	<link rel="stylesheet" href="/login_style.css">
</head>
<body>
	<div class="login-container">
		<h1>Reset Password</h1>
		<form  id="reset-password-form" action="/reset-password/:id/:token" method="post">
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Enter new password" required>
			</div>
			<button type="submit">Update</button>
		</form>
	
	</div>

	 <script>
        // JavaScript to construct the form action URL with actual id and token
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("reset-password-form");
            const url = window.location.pathname; // Get the current URL
            const parts = url.split("/"); // Split the URL by '/'
            const id = parts[2]; // Extract the 'id' from the URL
            const token = parts[3]; // Extract the 'token' from the URL
            form.action = `/reset-password/${id}/${token}`; // Set the form action
        });
    </script>

</body>
</html>
