<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care4You Hospital</title>
    <link rel="stylesheet" href="/login_style.css">
</head>

<body>
    <div class="login-container">
        <h1>Reset Password</h1>
        <form id="reset-password-form" action="/reset-password/:id/:token" method="post" onsubmit="return validatePassword()">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter new password" oninput="validatePassword()" required>
                <p id="passwordError" style="color: red;"></p>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>

    <script>
        // JavaScript to construct the form action URL with actual id and token
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("reset-password-form");
            const url = window.location.pathname; // Get the current URL
            const parts = url.split("/"); // Split the URL by '/'
            const id = parts[2]; // Extract the 'id' from the URL
            const token = parts[3]; // Extract the 'token' from the URL
            form.action = `/reset-password/${id}/${token}`; // Set the form action
        });

        function validatePassword() {
            var passwordInput = document.getElementById('password');
            var passwordValue = passwordInput.value;

            // Define password constraints
            var minLength = 8;
            var hasUppercase = /[A-Z]/.test(passwordValue);
            var hasLowercase = /[a-z]/.test(passwordValue);
            var hasNumber = /\d/.test(passwordValue);
            var hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(passwordValue);

            // Check if password meets the criteria
            if (
                passwordValue.length < minLength ||
                !hasUppercase ||
                !hasLowercase ||
                !hasNumber ||
                !hasSpecialChar
            ) {
                document.getElementById('passwordError').textContent = 'Password should be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.';
                return false; // Prevent form submission
            } else {
                document.getElementById('passwordError').textContent = '';
                return true; // Allow form submission
            }
        }
    </script>

</body>

</html>
