
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  :root {
      --primary: #0463FA;
      --light: #EFF5FF;
      --dark: #1B2C51;
  }
  
  .fw-medium {
      font-weight: 500 !important;
  }
  
  .fw-bold {
      font-weight: 700 !important;
  }
  
  .fw-black {
      font-weight: 900 !important;
  }
  
  .back-to-top {
      position: fixed;
      display: none;
      right: 45px;
      bottom: 45px;
      z-index: 99;
  }
  
  
  /*** Spinner ***/
  #spinner {
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s ease-out, visibility 0s linear .5s;
      z-index: 99999;
  }
  
  #spinner.show {
      transition: opacity .5s ease-out, visibility 0s linear 0s;
      visibility: visible;
      opacity: 1;
  }
  
  /*** Side-bar ***/
  .side-bar {
      padding: 0px;
      width: 19%;
      float: left;
      margin-top: 80px;
      position: fixed;
      height: 100%;
      font-size: 100%;
      word-wrap: break-word;
  }
  
  .side-bar-top {
      height: 300px;
      background: var(--primary);
      color: black;
      padding: 15px;
  }
  
  .side-bar-top .user {
      padding: 0;
      text-align: center;
      margin-top: 20px;
  }
  
  .side-bar-heading {
      width: 50%;
      height: 13%;
      text-align: center;
      margin: 0 60px;
      margin-bottom: 20px;
      padding: 5px 15px;
      border-radius: 13px;
      color: white;
      background: var(--dark);
      font-weight: 700;
  }
  
  
  .side-bar-bottom {
      border-radius: 3px;
      padding-bottom: 30px;
      height: 1130px;
      padding: 0;
      padding-top: 40px;
      background: var(--light);
  }
  
  .side-bar-bottom ul {
      list-style: none;
      font-weight: 500;
  }
  
  .side-bar-bottom ul li {
      margin: 15px 5px;
  }
  
  /*** All Employees Dashboard ***/
  .all-emp-dash {
      height: 500px;
  }
  
  .all-emp-heading {
      margin: 20px 0;
      padding-left: 50px;
  }
  
  .all-emp-info {
      padding-left: 50px;
      color: black;
  }
  
  .all-emp-info table {
      height: 300px;
      width: 300px;
      color: black;
  }
  
  .all-emp-info table tr {
      padding: 5px 10px;
  }
  
  .view-button {
      margin: 10px 10px;
      padding: 2px 10px;
      height: 30px;
      width: 60px;
      color: white;
      background: rgb(0, 174, 205);
      border-radius: 5px;
      position: absolute;
  }
  
  /*Navabar*/
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    nav.a:hover{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
  /*Patient Image*/
  .pat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 100%;
  }
  
  /* Add this CSS to doctor-appointment.css */
  
  
  .container {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
  }
  
  .container h1 {
      color: #3498db;
  }
  
  form {
      display: flex;
      flex-direction: column;
  }
  
  .appointment-form label {
      margin-top: 10px;
      text-align: left;
  }
  
  input, select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  
  button {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 3px;
      margin-top: 20px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: #267dbf;
  }
  
  button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
  }
        .welcome
        {
            font-size: x-large;
            font-weight: 600 ;
            color: rgb(72, 63, 63);
            /* margin: 100px; */
            /* margin-left: 611px;
            margin-top: 208px;
            margin-right: 10px;
            margin-bottom: 10px; */
            padding-bottom: 300px;
            padding-right: 300px;
            padding-top: 300px;
            padding-left: 640px;

        }
        /* .box{
            margin-top: -40px;
            margin-right: -1px;
            /* margin-left: 5px; 
            
        }  */
        .container-fluid {
            background-color: skyblue;
        }
  