
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #0073e6;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .doctor-info {
            display: flex;
            align-items: center;
        }

        .doctor-info img {
            max-width: 150px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .doctor-details {
            flex-grow: 1;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }
  