/********** Admin All Employees CSS **********/
:root {
    --primary: #0463FA;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.lo-button {
    height: 35px;
    width: 100px;
    color: white;
    background: rgb(231, 13, 13);
    border-radius: 13px;
    padding: 3px 20px;
    margin-right: 10px;
    font-weight: 500;
    transition: .5s;
}


/*** Side-bar ***/
.side-bar {
    border-radius: 5px;
    width: 250px;
    float: left;
}

.side-bar-top {
    height: 200px;
    background: var(--primary);
    color: black;
    padding: 15px 13px;
}

.side-bar-heading {
    height: 35px;
    width: 80px;
    margin: 0 60px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 13px;
    color: white;
    background: var(--dark);
    font-weight: 700;
}


.side-bar-bottom {
    border-radius: 3px;
    padding-bottom: 30px;
    height: 1130px;
    list-style: none;
    padding: 0 5px;
    padding-top: 40px;
    background: var(--light);
}

.side-bar-bottom ul {
    list-style: none;
    font-weight: 500;
}

.side-bar-bottom ul li {
    margin: 15px 5px;
}


/*** All Employees Dashboard ***/
.all-emp-dash {
    height: 500px;
}

.all-emp-heading {
    margin: 20px 0;
    padding-left: 50px;
}

.all-emp-info {
    padding-left: 50px;
    color: black;
}

.all-emp-info table {
    height: 300px;
    width: 300px;
    color: black;
}

.all-emp-info table tr {
    padding: 5px 10px;
}

.view-button {
    margin: 10px 10px;
    padding: 2px 10px;
    height: 30px;
    width: 60px;
    color: white;
    background: rgb(0, 174, 205);
    border-radius: 5px;
    position: absolute;
}