/********** Admin All Employees CSS **********/
:root {
    --primary: #0463FA;
    --light: #EFF5FF;
    --dark: #1B2C51;
  }
  
  .edit-profile-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #0463FA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fw-medium {
    font-weight: 500 !important;
  }
  
  .fw-bold {
    font-weight: 700 !important;
  }
  
  .fw-black {
    font-weight: 900 !important;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
  }
  
  
  /*** Spinner ***/
  #spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
  }
  
  #spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
  }
  
  
  /*** Navbar ***/
  .navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
  }
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: var(--dark);
  }
  
  @media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
      margin-right: 0;
      padding: 10px 0;
    }
  
    .navbar .navbar-nav {
      border-top: 1px solid #EEEEEE;
    }
  }
  
  .navbar .navbar-brand,
  .navbar a.btn {
    height: 75px;
  }
  
  /* .navbar.sticky-top {
      top: -100px;
      transition: .5s;
  } */
  
  
  /*** Side-bar ***/
  .side-bar {
    padding: 0;
    width: 250px;
    height: 100%;
    float: left;
    position: fixed;
    top: 0;
  }
  
  .side-bar-top {
    height: 47%;
    background: rgb(23, 72, 250);
    color: black;
    padding: 35px 13px;
    margin-top: 55px;
  }
  
  .side-bar-heading {
    height: 35px;
    width: 90px;
    margin: 0 60px;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 13px;
    color: white;
    background: var(--dark);
    font-weight: 700;
  }
  
  .side-bar-icon {
    height: 100px;
    width: 100px;
    margin-left: 55px;
  }
  
  .side-bar-top-info {
    text-align: center;
  }
  
  .side-bar-bottom {
    height: 1150px;
    list-style: none;
    padding-left: 10px;
    padding-top: 30px;
    background: var(--light);
  }
  
  .side-bar-bottom ul {
    list-style: none;
    font-weight: 500;
  }
  
  .side-bar-bottom ul li {
    margin: 15px 5px;
  }
  
  /*@media (max-width: 767px) {
    .side-bar {
      width: 100%;
    }*/
  
  /*profile-box*/
  .profile-box {
    max-width: 600px;
    /* margin: 100px auto; */
    margin-top: 150px;
    margin-left: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: black;
  }
  
  .profile-box h2 {
    text-align: center;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .info-item {
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
  }
  
  span {
    margin-left: 10px;
  }
  