/********** Admin All Employees CSS **********/
:root {
  --primary: #0463FA;
  --light: #EFF5FF;
  --dark: #1B2C51;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.leave-container {
  position: relative;
  color: white;
}

.leave-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: url("./receptionist_bg.jpg");
  background-size: auto;
  background-position: center;
  padding: 20px;
  width: 70%;
  margin: auto;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--dark);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    border-top: 1px solid #EEEEEE;
  }
}

.navbar .navbar-brand,
.navbar a.btn {
  height: 75px;
}

/* .navbar.sticky-top {
    top: -100px;
    transition: .5s;
} */


/*** Side-bar ***/
.side-bar {
  padding: 0;
  width: 250px;
  height: 100%;
  float: left;
  position: fixed;
  top: 0;
}

.side-bar-top {
  height: 47%;
  background: rgb(23, 72, 250);
  color: black;
  padding: 35px 13px;
  margin-top: 55px;
}

.side-bar-heading {
  height: 35px;
  width: 130px;
  margin: 0px 60px;
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 13px;
  color: white;
  background: var(--dark);
  font-weight: 700;
}

.side-bar-icon {
  height: 100px;
  width: 100px;
  margin-left: 55px;
}

.side-bar-top-info {
  text-align: center;
}

.side-bar-bottom {
  height: 1150px;
  list-style: none;
  padding-left: 10px;
  padding-top: 30px;
  background: var(--light);
}

.side-bar-bottom ul {
  list-style: none;
  font-weight: 500;
}

.side-bar-bottom ul li {
  margin: 15px 5px;
}

/*@media (max-width: 767px) {
  .side-bar {
    width: 100%;
  }*/

/*leave-form*/


.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  padding: 10px 20px;
  background-color:blue;
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  background-color: #0453DA;
}

.leave-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 100px auto;
  max-width: 800px;
}

.leave-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
  width: 70%;
}

.leave-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}
