body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    padding: 0 20px;
}

.container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 70vh; /* Fill the entire viewport height */
}

.card-animation {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px;
    height: 180px;
}

.card-animation:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card.card-animation {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    transition: transform 0.2s ease-in-out;
    height: 180px;
    margin: 10px;
}

.card.card-animation:hover {
    transform: scale(1.05);
}

.card-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
