body {
/*  background-color: #D6E8DB;*/
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f0f0f0;
}


.login-container {
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px gray;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 10px;
  margin-right: 32px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

button {
  height: 45px;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: limegreen;
}
