body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f0f0f0;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
background-image: url(file:///D:/Programming/HMS/HMS_Images/back.jpg);
}


.login-container {
  margin-left: 35%;
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
/*  box-shadow: 10px 10px 5px gray;*/
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.login-container a {
  text-decoration: none;
  color: blue;
}

h1 {
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 10px;
  margin-right: 32px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0;
}

input {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

button {
  height: 45px;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: limegreen;
}